
.container-heroes {
  display: flex;
  flex-grow: 1;
  background-color: antiquewhite;
  flex-direction: column;
}

.item-list {
  margin-top: 10px;
  background-color: aliceblue;
  width: 200px;
  padding: 8px;
  border-bottom: 1px solid black;
}

.text-item-list {
  color: blue;
  font-weight: bold;
}
